/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

/* Links */
a {
    text-decoration: none;
    color: #d6336c;
    font-weight: 600;
    transition: color 0.3s;
}

a:hover {
    color: #b21f4b;
}